
body {
    font-family: "Consolas";
}

.islarger {
    font-size: larger;
}

.ismedium {
    font-size: medium;
}

.gescheiteMargin {
    margin: 2rem;
}

link {
    padding: 20px;
}

.sectionConstant {
    text-align: center;
    font-size: 20px;
}

/*Anpassungen Bulma*/

.columns  {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
    margin-top: 0.5rem !important;
}

.columns:last-child {
    margin-bottom: 0.5rem;
}
