<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<section class="hero is-info islarger">
    <!-- Hero content: will be in the middle, thx Bulma-->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                JAVA BLOG
            </h1>
        </div>
    </div>
</section>

<!--Konstant da, Art second titel, thx Bulma-->
<section class="sectionConstant islarger">
    <div class="columns">
        <div class="column">
            <p><br></p>
        </div>
        <div class="column has-text-centered">
            <p>Der erste anonyme Java Blog</p>
            <p>-</p>
            <p>Blöde Fragen stellen ohne Schamgefühle!</p>
        </div>
        <div class="column">
            <div th:if="${sessionUser == null}">
                <a class="button is-link" href="login">Login</a>
                <a class="button is-link" href="registration">Registrieren</a>
            </div>
            <div th:if="${sessionUser != null}">
                <p th:text="${'Hallo, ' + sessionUser.getName() + '!'}"></p>
                <div th:if="${sessionUser.getAdmin() == true }">
                    <a class="button is-link" th:href="@{/users}">Mitgliederübersicht</a>
                    <a class="button is-link" th:href="@{/writeBlogPost}">Blogeintrag verfassen</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Beiträge und Kommentare-->
<section class="ismedium gescheiteMargin">
    <ul>
        <li class="message is-info" th:each="b : ${blogPost}">
            <div class="message-header" th:text="${b.getTitle()}"></div>
            <div class="message-body" th:text="${b.getContent()}"></div>
            <br>
            <ul>
                <li class="message is-dark" th:each="c : ${b.getComments()}">
                    <div class="message-body" th:text="${c.getContent()}"></div>
                </li>
            </ul>
            <br>
            <a class="button is-link" th:href="@{/comment/{blogPostId}(blogPostId = ${b.id})}">Kommentieren</a>
        </li>
    </ul>
</section>
</body>
</html>
