<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alle Mitglieder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
<section class="sectionmain">
    <ul>
        <li th:each="u : ${user}">
            <div th:text="${u.getName()}"></div>
            <a class="button is-link" th:href="@{/users/{userId}(userId = ${u.getId()})}">Zum Admin machen</a>
        </li>
    </ul>
</section>
</body>
</html>
